*.pyc
Trabajo Practico 1 - B/.idea/
*.output
*.bak3
*.bak1
*.bak2
Trabajo Practico 2/.idea/
Trabajo Practico 1/.idea/workspace.xml
*.xml

Trabajo Practico 2/conexionPop_REMOTE_8656.py
Trabajo Practico 2/conexionPop_LOCAL_7988.py
Trabajo Practico 2/conexionPop_LOCAL_12272.py
Trabajo Practico 2/conexionPop_LOCAL_1132.py
Trabajo Practico 2/conexionPop_BASE_12272.py
Trabajo Practico 2/conexionPop_BASE_1132.py
Trabajo Practico 2/conexionPop_BACKUP_8656.py
Trabajo Practico 2/conexionPop_BACKUP_7988.py
Trabajo Practico 2/conexionPop_BACKUP_1132.py
Trabajo Practico 2/conexionPop_REMOTE_7988.py
Trabajo Practico 2/conexionPop_REMOTE_12272.py
Trabajo Practico 2/conexionPop_REMOTE_1132.py
Trabajo Practico 2/conexionPop_LOCAL_8656.py
Trabajo Practico 2/conexionPop_BASE_8656.py
Trabajo Practico 2/conexionPop_BASE_7988.py
Trabajo Practico 2/conexionPop_BACKUP_12272.py
Trabajo Practico 3 - Parte 2/.idea/Trabajo Practico 3 - Parte 2.iml
Trabajo Practico 3 - Parte 2/pywin32-221-cp27-cp27m-win_amd64.whl
Trabajo Practico 3 - Parte 2/sistemas/
Trabajo Practico 2/mensajes.txt
Trabajo Practico 3 - Parte 1/.idea/Trabajo Practico 3 - Parte 1.iml
Trabajo Practico 3 - Parte 2/tramas.txt
Trabajo Practico 3 - Parte 2/procesoEmailDinamico.log.5
Trabajo Practico 3 - Parte 2/procesoEmailDinamico.log.4
Trabajo Practico 3 - Parte 2/procesoEmailDinamico.log.3
Trabajo Practico 3 - Parte 2/procesoEmailDinamico.log.2
Trabajo Practico 3 - Parte 2/procesoEmailDinamico.log.1
Trabajo Practico 4/.idea/
Trabajo Practico 3 - Parte 2/tramas.json
