.navbar-default {
    background-color: #0f006f;
    border-color: #030033;
}

#myInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 2px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla tr.header, #tabla tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
